/* Start reset */
html {
  font-size: 12px; /* 1 rem*/
}

body {
  font-family: sans-serif;
  padding: 5px;
  background-color: #fafafa;
}

* {
  margin: 3px;
  padding: 0;
  box-sizing: border-box;
  vertical-align: top;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input,
input:focus,
textarea,
textarea:focus {
  border: unset;
  outline: unset;
  box-shadow: unset;
}

/* end reset */
