/* Start reset */
html {
  font-size: 14px; /* 1 rem*/
  line-height: 18px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  background-color: rgb(0 0 0 / 10%);
}

* {
  padding: 0;
  box-sizing: border-box;
  vertical-align: top;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input,
input:focus,
textarea,
textarea:focus {
  border: unset;
  outline: unset;
  box-shadow: unset;
}

/* end reset */
